* {
    padding: 0;
    margin: 0;
    border: none;
}

@font-face {
    font-family: PhotoSig;
    src: url(../fonts/Photograph\ Signature.ttf);
}

html {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.header {
    background-color: white;
    color: black;
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
}

header {
    display: flex;
    height: 70px;
}

.header img {
    padding: 10px 0 10px;
    height: 50px;
}

.header li:first-child {
    height: 70px;
}

.header ul {
    text-transform: uppercase;
    text-decoration-line: none;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
}

.header, a:visited, a{
    color:black;
    text-decoration-line:none;
}

.header ul li a:hover{
    color:#8b651b
}

.header ul li {
    display: inline;
    flex-wrap: nowrap;
    padding-left: 25px;
    padding-right:25px;
    line-height: 70px;
    vertical-align: center;
}

.content {
    display: block;
    height: auto;
    width:50%;
    align-self: center;
    text-align:center;
}

.content p{
    font-size: larger;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    line-height: 130%;
}

.galaimpact p{
    padding-bottom: 10px;
}

#contact{border-spacing: 15px;}

#firstcontactcol{text-align:left;}
#lastcontactrcol{text-align:right;}

h1 {
    padding-left: 20px; padding-right: 20px;
    color: #c8a45f;
    font-family: PhotoSig;
    font-size:500%;
    font-weight: lighter;
    
}

#galabody{
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    width:100%
}

.hero {
    height:100%;
    background-image: url(../images/galahero.png);
    background-position:center;
    background-size: cover;
    position:relative;
    background-repeat: no-repeat;
}

.hero h1{font-size:900%; translate: 0 -30px}

.hero-text{
    text-align: center;
    top:50%;
    left:50%;
    padding:50px;
    color:white;
    font-weight: lighter;
}

.hero-text h2{
    color:white;
    font-weight: lighter;
}

#herosecondline{
    font-size: xx-large;
}

.hero-text p{
    line-height: 25px;
    font-size: large;
    translate: 0 -50px
}

#herobutton{
    padding:20px;
    margin-top: 40px;
    color:black;
    background-color: white;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    word-spacing:5px;
    text-align:center;
    display:inline-block;
    width:25%;
    border-radius: 40px;
    translate: 0 -40px
}

#herobutton:hover{
    color:white;
    background-color: #c8a45f;
    box-shadow: 0 9px #8b651b;
}


#herobutton:active{
    color:white;
    background-color: #c8a45f;
    box-shadow: 0 5px #8b651b;
    transform: translateY(4px)
}

.support {
    height:100%;
    background-image: url(../images/supporthero.png);
    background-position:center;
    background-size: cover;
    position:relative;
    background-repeat: no-repeat;
}

.support h1{font-size:900%; translate: 0 -30px}

.support-text{
    text-align: center;
    top:50%;
    left:50%;
    padding:50px;
    color:white;
    font-weight: lighter;
}

.support-text p{
    line-height: 25px;
    font-size: large;
    translate: 0 -50px;
    padding-left: 25%;
    padding-right:25%
}

#supportbody{
    padding-top: 15%;
    padding-bottom:10%;
    display: flex;
    justify-content: center;
    width:100%}

.donatebutton{
    padding:15px;
    margin-top: 40px;
    color:#8b651b;
    background-color: #dbbd83;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    word-spacing:5px;
    text-align:center;
    display:inline-block;
    width:40%;
    border-radius: 40px;
    box-shadow: 0 9px #8b651b;
}
.donatebutton:visited{
    color:#8b651b
}
.donatebutton:hover{
    background-color: #c8a45f;
    color: white;
}



.donatebutton:active{
    background-color: #c8a45f;
    color:white;
    box-shadow: 0 5px #8b651b;
    transform: translateY(4px)
}

.supportdonatebutton, .supportbuybutton, .supportsponsor{
    color:#8b651b;
    background-color: #dbbd83;
    padding:2%;
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    word-spacing:5px;
    text-align:center;
    display:inline-block;
    width:80%;
    border-radius: 40px;
    box-shadow: 0 9px #8b651b;
}

.supportbuybutton:visited, .supportdonatebutton:visited, .supportsponsor:visited{
    color: #8b651b;
}

.supportdonatebutton:hover, .supportbuybutton:hover, .supportsponsor:hover{
    background-color: #c8a45f;
    color: white;
}

.supportdonatebutton:active, .supportbuybutton:active, .supportsponsor:active{
    background-color: #c8a45f;
    color:white;
    box-shadow: 0 5px #8b651b;
    transform: translateY(4px)
}

.supportsponsor {
    padding: 1%;
    margin-bottom: 5%;
}

.supportflex{
    display:flex;
    flex-flow: row;
    align-content: center;
}

.supportflex h1{
    font-size: 300%;
}

.sponsor-carousel{
    position: relative;
    width: 85%;
    height: 520px;
    overflow: hidden;
    margin: auto;
}

.sponsorItem{
    position: absolute;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 130px);
    top: 0;
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 10px;
}

#next{
    left: unset;
    right: 10px;
}

.sponsor h1{
    font-size: 350%;
}

#crownjewels, #diamond, #platinum, #gold, #silver, #bronze{
    background-image: url(../images/thinblock.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    width: 200px;
    height: 450px;
    margin-bottom: -3in;
    border-radius: 50px;
}

.sponsor-carousel #sponsor-title{
    font-size: 180%;
    margin-bottom: -5%;
    color:#c8a45f;
    font-family: PhotoSig;
    padding:1%
}

.sponsor-carousel #sponsor-price{
    font-size: 310%;
    color:#699194;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding:1%;
}

.sponsor-carousel ul {
    list-style: none;
  }

.sponsor-carousel ul li{
    margin-bottom: 4%;
}
  
 .sponsor-carousel ul li:before {
    content: '✓';
    color:#699194
  }

#topflowers{
    width: 100%;
    padding-top:15%;
    padding-bottom:5%
}

#bottomflowers{
    width:100%;
    padding-top:10%;
    padding-bottom:15%
}

.footer {
    color: black;
    position: relative;
    width: 100%;
    padding: 10px 0px;
    margin-top: auto;
    margin-bottom: 5%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    max-width: 150px;
}

.footer #contact {
    text-decoration: none;
    display: inline-block;
    margin-left: 10%;
}

.footer #contact li {
    text-align: center;
}

.footer #socials {
    text-decoration: none;
    display: inline-block;
    margin-right: 10%;
}

.footer #socials li {
    text-align: center;
    
}

.footer #socials ul li {
    padding: 0% 5%;
}

.footer button {
    margin-bottom: 10px;
}

.footer #socials ul li{
    display: inline;
}

.footer ul {
    display: block;
}

.footer a {
    text-decoration: none;
    color: black;
}

#subscribe {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#subscribe:hover {
    background-color: black;
    color: white;
}

.footer .logo {
    cursor: pointer;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: grayscale(1) invert(100);
}

.footer #socials img {
    width: 20px;
}

#error{
    font-size: xx-large;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
}

#error a{
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1%;
}

#error a:hover{
   border-style: solid;
   border-color: black;
   background-color: white;
   color: black; 
}

/* about aef section */

.aef-text {
    margin: 1% 0;
}

.aef {
    background-image: url(../images/aefhero.png);
}

.aefflex {
    display: flex;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    gap: 5%;
}

.column1, .column2{
    width: 45%;
}

.column1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 3;
    gap: 5%;
}

.column2{
    background-image: url(../images/thinblock.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    flex-shrink: 1;
}

.column2 li {
    padding: 0;
    text-align: left;
    list-style: disc;
    line-height: 25px;
    font-size: larger;
}

.column2 ul{
    margin-left: 23%;
    width: 65%;
}

.row2 {
    margin-top: 5%;
}

/* our sponsors section */

.oursponsors {
    background-image: none;
}

.oursponsors h1 {
    font-size: 700%;
    margin-bottom: 10px;
}

.oursponsors-text p {
    color: black;
}

.sponsorscarouselp1, .sponsorscarouselp2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(../images/wideblock.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    padding: 12% 8%;
}

.sponsorscarouselp1 .row1, .sponsorscarouselp1 .row2, .sponsorscarouselp2 .row1, .sponsorscarouselp2 .row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
}

.sponsorscarouselp1 .row1 img, .sponsorscarouselp1 .row2 img, .sponsorscarouselp2 .row1 img, .sponsorscarouselp2 .row2 img{
    width: 12%;
    background-color: #eaeaea;
    border-radius: 15px;
    padding: 2%;
}

.sponsorscarouselp1 .row1 #ayc {
    width: 8%;
    height: 8%;
    padding: 4%;
}

.sponsorscarousel #next, .sponsorscarousel #prev {
    top: 75%;
}

.sponsorscarousel #next {
    right: 10%;
}

.sponsorscarousel #prev {
    left: 10%;
}

.oursponsors-text {
    padding-bottom: 0;
}

.oursponcon #topflowers{
    padding-top: 0;
}

/* contact section */

.contacthero {
    background-image: none;
    margin-bottom: 20px;
}

.contacthero h1 {
    height: 150px;
    font-size: 700%;
}

.contactform {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.message input{
    height: 170px;
    border-radius: 19px;
}

.contactform #submit {
    width: 100%;
}

label {
    margin-bottom: 2px;
}

.concon #topflowers, .concon #bottomflowers {
    width: 90%;
}

/* contact cards :-) */

.contactp1, .contactp2, .contactp3, .contactp4, .contactp5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactcarousel .row2 {
    display: flex;
    text-align: left;
}

.contactcarousel .column2 {
    width: fit-content;
    background-image: none;
}

.contactcarousel .column2 ul li{
    list-style-type: none;
}

@media (min-width:1100px) {
    /* desktop viewport */

    .header .icon {
        display: none;
    }

}

@media (max-width:1100px)  { 
    /* tablet viewport */ 
    
    .header a:not(.icon){
        display: none;
    }

    .header .icon img{
      display: block;
      max-height: 55px;
      margin-right: 0;
      padding-right: 0;
    }

    .header.responsive ul{
        display: flex;
        position: relative;
        flex-direction: column;
        z-index: 10;
    }

    .header.responsive li:not(.logo){
        padding: 0;
    }
        
    .header.responsive .icon {
        right: 0;
        top: 0;
        position: absolute;
    }

    .header.responsive a{
        float: none;
        display: block;
        text-align: left;
        background-color: white;
        padding: 0 25px;
    }

    .header.responsive a:hover:not(.icon){
        background-color: #f2f2f2;
    }

    #herobutton {
        width: 50%;
        margin-top: 10px;
        padding: 2%;
    }

    h1{
        font-size: 300%;
    }

    .content p, .content li, .header li a, #herobutton, .donatebutton, .hero-text p, .footer{
        font-size: medium;
    }

    h2 {
        font-size: 1em;
    }

    #herosecondline {
        font-size: x-large;
    }

    .hero h1, .aef h1{
        font-size: 700%;
    }

    .content {
        width: 80%;
    }

    .hero-text{
        padding: 25px;
    }

    footer{
        flex-direction: column;
    }

    .footer #socials, .footer #contact {
        margin: 0;
    }

    .footer img {
        margin: 10% 0 30% 0;
    }
}

@media (max-width:700px)  { 
    /* phone viewport */

    .header .icon img, .header .logo img{
      height: 30px;
    }

    .header, .header li{
        height: 50px;
    }

    .header li:first-child {
        height: 50px;
    }
    
    .header ul li{
        line-height: 50px;
    }

    .header.responsive .icon, .header .icon img {
        right: 0;
        top: 0;
        position: absolute;
        padding-right: 25px;
    }

    .header.responsive a{
        float: none;
        display: block;
        text-align: left;
        background-color: white;
        padding: 0 25px;
    }

    #herobutton {
        width:80%;
        margin-top: 5px;
        padding: 1%;
    }

    #galabody, #supportbody{
        display: none;
    }

    #supportbody {
        padding-bottom: 0;
    }

    h1, .supportflex h1, .sponsor h1{
        font-size: 200%;
    }

    .content p, .content li, .header li a, #herobutton, .donatebutton, .hero-text p, .footer, .support-text p{
        font-size: small;
    }

    .content {
        width: 95%;
    }

    h2 {
        font-size: 0.8em;
    }

    #herosecondline {
        font-size: large;
    }

    .hero h1, .support h1{
        font-size: 500%;
        margin-top: 5%;
    }

    .hero-text, .support-text{
        padding: 25px;
    }

    .hero-text p, .support-text p{
        line-height: 18px;
        margin-top: 3%;
    }

    .sponsor-carousel {
        margin-top: 5%;
    }

    .sponsor h1{
        margin-top: 55px;
    }
}